.postsBlock {
    padding: 15px;
}
.posts {
    margin-top: 20px;
}
textarea {
    width: 400px;
    height: 400px;
    background: cornsilk;
    font-size: 20px;
    color: black;
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.8);
}
button {
    background: rgb(33, 172, 182);
    font-size: 20px;
    font-weight: 700;
    font-family:'Courier New', Courier, monospace;
    padding: 20px;
    margin: 20px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
}
button:hover {
    opacity: 0.7;
    border: 4px double black;

}

